<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <title>Document</title>

    <link rel="stylesheet" href="/css/main_page.css">

    <style>
        #contents-area{display: flex;flex-wrap: wrap ;justify-content: space-between}
    </style>

</head>

<body>
<th:block th:replace="~{./user/layouts/font_css :: font_css}"></th:block>
<th:block th:replace="~{./user/layouts/header :: header}"></th:block> 

<section>
    <div id="section">
        <div class="section_item"></div>
    </div>
    <div id="contents-area">
    <div class="contents" th:each="item : ${list}">
        <form class="formContent" action="/admin/content" method="post">
            <div class="content" style="width: 100%; text-align: center">
                <img th:src="${item.thumbnail_path}" style="border-radius: 10px;width: 350px;height: 200px">
                <h3 th:text="${item.con_nm}"></h3>
                <input type="hidden" name="content_name" th:value="${item.con_nm}">
            </div>
        </form>
    </div>
    </div> 

</section>
</body>
 <script src="/js/main_page.js"></script>
<script th:inline="javascript">
    //모델에서 전달된 값을 가져와서 alert로 표시
    var message = '[[${message}]]';
    console.log(message)
    var msg = JSON.parse(message)
    if (msg != null) {
        alert(msg);
    }
</script>

</html>