<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <title>Document</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/main_page.css">
  <link rel="stylesheet" href="/css/all.css">
</head>
<body>
<th:block th:replace="~{/user/layouts/header :: header}"></th:block>

  <section>
    <div id="section">
      <div class="section_item"></div>
    </div>

    <!-- 모달창 -->
    <div id="modal" class="hidden">
      <div class="modal-content">
        <div id="logo2">로고</div>
        <div>
          <form action="/loginForm" method="post" id="textBox">
          <input type="text" name = "username" placeholder="아이디">
          <input type="text" name = "password" placeholder="비밀번호">
          <button id="loginBtn2">로그인</button>
          </form>
        </div>
        <div id="alink" style="border: none;">
          <p>
            <a style="border: none;" href="">아이디(이메일)찾기</a>
            <a style="padding-left: 4px;" href="">비밀번호 찾기</a>
            <a style="padding-left: 4px;" href="">회원가입</a>
          </p>
        </div>
        <div id="simpleBox">
          <hr id="line">
          <span id="simpleLogin">간편 로그인</span>
          <div>
            <div id="kakao"><img src="kakao_icon.png" alt=""></div>
          </div>
        </div>
        <button id="close-modal">X</button>
      </div>
    </div>
    <!-- 모달창 끝 -->
  </section>
</body>
  <script src="/js/main_page.js"></script>
</html>