<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<th:block th:replace="~{/edu/layouts/font_css :: font_css}"></th:block>

<body>
<!--상단바-->
<th:block th:replace="~{/user/layouts/header :: header}"></th:block>
<section id="group_content">
    <th:block th:replace="~{/edu/layouts/aside :: aside}"></th:block>

    <div class="group_content_container">

        <div class="group_content_header">
            <h1>콘텐츠 조회</h1>
            <br>
            <h3>스터디그룹에 필요한 학습 자료를 조회할 수 있습니다.</h3>
        </div>
        <form action="/edu/groupContents" method="get">
            <div class="select_searchbar">
                <input type="text" name="con_nm" placeholder="Search Contents Name...">
                <input type="submit" value="">
            </div>
        </form>

        <div class="select_content">

            <h2 id="table-header">내 콘텐츠 조회</h2>
            <form name="moveContentDetail" action="/admin/content" method="post">
                <table class="table-group">
                    <tr>
                        <th>썸네일</th>
                        <th>콘텐츠명</th>
                        <th>카테고리</th>
                        <th>가격</th>
                        <th>난이도</th>
                        <th>서비스 구분</th>

                    </tr>

                    <tr th:each="contentVO : ${contentList}" onclick="contentDetail(this)">
                        <td><img width="200px" th:src="@{${contentVO.thumbnail_path}}"></td>
                        <td>[[${contentVO.con_nm}]]</td>
                        <td>[[${contentVO.cate_nm}]]</td>
                        <td>[[${contentVO.con_price}]]원</td>
                        <td>[[${contentVO.con_lv}]]</td>
                        <td>[[${contentVO.service_class}]]</td>

                    </tr>
                </table>
                <input type="hidden" name="content_name" id="inputConName" value="">
            </form>

        </div>



        <div class="page">
            <ul>

                <th:block th:if="${pageVO.total != 0}">

                    <li><a th:href="@{/edu/groupContents(currentPage=1, showPage=${pageVO.amount})}"><i
                            class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                </th:block>

                <th:block th:if="${pageVO.prev}">
                    <li style="margin-right: 5px;"><a
                            th:href="@{groupContents(currentPage=${pageVO.startPage - 1}, showPage=${pageVO.amount})}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a></li>
                </th:block>


                <th:block th:each="pageNum : ${pageVO.pageList}">
                    <li th:class="${pageVO.pageNum == pageNum ? 'on' : '' }"><a
                            th:href="@{/edu/groupContents(currentPage=${pageNum}, showPage=${pageVO.amount})}">[[${pageNum}]]</a></li>
                </th:block>

                <th:block th:if="${pageVO.next}">
                    <li style="margin-left: 5px;"><a
                            th:href="@{/edu/groupContents(currentPage=${pageVO.endPage+1}, showPage=${pageVO.amount})}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                </th:block>

                <th:block th:if="${pageVO.total != 0 }">
                    <li><a
                            th:href="@{/edu/groupContents(currentPage=${pageVO.realEnd}, showPage=${pageVO.amount})}"><i
                            class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                </th:block>

            </ul>
        </div>

    </div>
</section>
</body>

</html>
<script>
    const inputConName = document.querySelector("#inputConName");

    function contentDetail(){
        console.log(event.target)
            const conName = event.currentTarget.children[1].innerText;
            inputConName.value = conName;
            document.moveContentDetail.submit();

    }
</script>