body {
@media (min-width: 769px) {
    #left-pane {
        width: 58.77182837978489%;
    }
    display: flex;
    flex-direction: column;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}	

}
body #code-editor {
border: 1px solid #efefef;
border-radius: 4px;
font-size: 14px;
height: 700px;
overflow: auto;
}
body #code-editor .cm-editor {
    border-radius: 3px;
    height: 100%;
}
.k16 {
    color: #4A4A4A;
}
.k1 {
    position: relative !important;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column;
}
.k1 .cm-announced {
    position: fixed;
    top: -10000px;
}
body #code-editor .cm-scroller {
    border-radius: 4px;
}
.k1 .cm-scroller {
    display: flex !important;
    align-items: flex-start !important;
    font-family: monospace;
    line-height: 1.4;
    height: 100%;
    overflow-x: auto;
    position: relative;
    z-index: 0;
}
.cm-scroller {
    overscroll-behavior: none;
    scrollbar-color: #909090 #0000;
}
.k16 .cm-gutters {
    background-color: #FFF;
    color: #6B6B70;
    border-right-color: transparent;
}
.k2 .cm-gutters {
    background-color: #f5f5f5;
    color: #6c6c6c;
    border-right: 1px solid #ddd;
}
.k1 .cm-gutters {
    flex-shrink: 0;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    inset-inline-start: 0;
    z-index: 200;
}
.k1 .cm-lineNumbers .cm-gutterElement {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    white-space: nowrap;
}
.k1 .cm-gutterElement {
    box-sizing: border-box;
}
/* 라인 액티브  */
.k2 .cm-activeLineGutter {
    background-color: #e2f2ff;
}
.k4 .cm-content {
    caret-color: transparent !important;
}
.cm-content div:focus {
    background-color: yellow;
}
.k1 .cm-content {
    margin: 0;
    flex-grow: 2;
    flex-shrink: 0;
    display: block;
    white-space: pre;
    word-wrap: normal;
    box-sizing: border-box;
    min-height: 100%;
    padding: 4px 0;
    outline: none;
}
.k2 .cm-content {
    caret-color: red;
}
.k4 .cm-line {
    caret-color: transparent !important;
}
.k1 .cm-line {
    display: block;
    padding: 0 2px 0 6px;
}
.k2 .cm-activeLine {
    background-color: #cceeff44;
    background-color: #e2f2ff;
}
.k1 .cm-cursorLayer {
    pointer-events: none;
}
.k1 .cm-layer {
    position: absolute;
    left: 0;
    top: 0;
    contain: size style;
}
.k16 .cm-cursor, .ͼ16 .cm-dropCursor {
    border-left-color: #4A4A4A;
}
.k1 .cm-cursor {
    display: none;
}
.k1 .cm-cursor {
    border-left: 1.2px solid black;
    margin-left: -0.6px;
    pointer-events: none;
}
.k1 .cm-layer > * {
    position: absolute;
}
.k1 .cm-layer {
    position: absolute;
    left: 0;
    top: 0;
    contain: size style;
}
#submit {
	cursor: pointer;
    overflow: visible;
    position: relative;
	background-color: #06c3a7;
    border-color: #0000;
    color: #fff;
    padding: calc(.375em - 1px) .75em;
    align-items: center;
    border: 1px solid #0000;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    vertical-align: top;
}
.icon{
	align-items: center;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    width: 1.5rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

