#submit {
	cursor: pointer;
    overflow: visible;
    position: absolute;
	background-color: #06c3a7;
    border-color: #0000;
    color: #fff;
    padding: calc(.375em - 1px) .75em;
    align-items: center;
    border: 1px solid #0000;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    vertical-align: top;
   	left: 90%; /* 부모 요소의 가로 중앙에 배치 */
    top: 70%;
    margin-right: 10px;
}
.icon{
	align-items: center;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    width: 1.5rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#output{
	color:white;
	overflow: visible;
    position: absolute;
    top: 80%;
    margin-right: 10px;
    font-size:40px;
}
