<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<th:block th:replace="~{/student/layouts/font_css :: font_css}"></th:block>

<body>
<!--상단바-->
<th:block th:replace="~{/user/layouts/header :: header}"></th:block>
<section id="group_content">
    <th:block th:replace="~{/student/layouts/aside :: aside}"></th:block>

    <div class="group_content_container">

        <div class="group_content_header">
            <h1>XXX 그룹명</h1>
            <br>
            <h3>그룹 설명 데이터</h3>
        </div>


        <div class="select_content">

            <h2 id="table-header">공지 사항</h2>
            <table class="table-group">
                <tr>
                    <th>그룹명</th>
                    <th>레벨</th>
                    <th>인원</th>
                    <th>학습 콘텐츠</th>
                    <th>교육자명</th>
                    <th>진도율</th>
                    <th>입장하기</th>
                </tr>
                <tr>
                    <td>데이터 1-1데이터 1-1</td>
                    <td>데이터 1-2</td>
                    <td>데이터 1-3</td>
                    <td>데이터 1-3</td>
                    <td>데이터 1-3</td>
                    <td>데이터 1-3</td>
                    <td><button class="student-apply-btn">입장하기</button></td>
                </tr>


            </table>




        </div>

</section>
</body>

</html>