<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <body>
        <div class="container">
            <div class="col-6">
                <label><b>채팅방</b></label>
            </div>
            <div>
                <div id="msgArea" class="col"></div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                            <button class="btn btn-outline-secondary" type="button" id="disconn">나가기</button>
                        </div>
                    </div>
                </div>
            </div>
            [[${enterRoom.rc_no}]]
        </div>
        

</body>

</html>

<script th:inline="javascript">
            $(document).ready(function(){

            const username = [[${#authentication.getPrincipal.getUserVO.user_nm}]];
            const userid = [[${#authentication.getPrincipal.getUserVO.user_id}]];



            $("#disconn").on("click", (e) => {
            	closeSocket(e);
            })
            
            $("#button-send").on("click", (e) => {
                send();
            });
            
  
			console.log()
            const websocket = new WebSocket("ws://172.30.1.52:8989/ws/chat/"+[[${enterRoom.rc_no}]]);

            websocket.onmessage = onMessage;
            websocket.onopen = onOpen;

            //엔터 눌렀을때 전송
            $('#msg').keypress(function(e){
                if(e.keyCode===13) send();
            });
            function getNowDate(){
                const date = new Date();

                return  {
                    year : date.getFullYear(),
                    month : date.getMonth(),
                    day : date.getDay(),
                    time : date.getHours(),
                    minutes : date.getMinutes()
                }
            }
            
            function send(){
                let msg = document.getElementById("msg");

                console.log(`${username} : ${msg.value}`);
                websocket.send(JSON.stringify({
                    user_id : userid,
                    mc_content : msg.value,
                    rc_usage : [[${enterRoom.rc_usage}]],
                    rc_no : [[${enterRoom.rc_no}]]
                }));
                msg.value = '';
            }
            
            //채팅창에서 나갔을 때
            function closeSocket(evt) {
                var str =  `${username} 님이 퇴장하셨습니다.`;
                websocket.send(JSON.stringify({
                    user_id : userid,
                    mc_content : str,
                }));
                websocket.close();
                location.href="/room";
            }
            
            //채팅창에 들어왔을 때
            function onOpen(evt) {
                var str =  `${username} 님이 입장하셨습니다.`;
                websocket.send(JSON.stringify({
                    user_id : userid,
                    mc_content : str,
                }));
            }

            function onMessage(msg) {
                const data = JSON.parse(msg.data);
                //데이터를 보낸 사람
                var sessionId = data.user_id;
                var message = data.msg;
                var dateObj  = getNowDate();

                var cur_session = userid;

                //현재 세션에 로그인 한 사람
                console.log("cur_session : " + cur_session);



                console.log("sessionID : " + sessionId);
                console.log("cur_session : " + cur_session);

                    //로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
                    if(sessionId == cur_session){
                        var str = "<div>";
                        str += "<div>";
                        str += "<b>" + sessionId + "</b><br>";
                        str += "<b>" + message + "</b>";
                        str += "<b>" + "[ " + dateObj.time + " : "+ dateObj.minutes + " ]" + "</b>";
                        str += "</div></div>";
                        $("#msgArea").append(str);
                    }
                    else{
                        var str = "<div>";
                        str += "<div>";
                        str += "<b>" + sessionId + "</b><br>";
                        str += "<b>" + message + "</b>";
                        str += "<b>" + "[ " + dateObj.time + " : "+ dateObj.minutes + " ]" + "</b>";
                        str += "</div></div>";
                        $("#msgArea").append(str);
                    }
                }


            })
</script>