<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>room</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/gpapply/room.css">
    <link rel="stylesheet" href="/css/all.css">
    <script src="https://kit.fontawesome.com/d71a4a6ef8.js"
            crossorigin="anonymous"></script>
</head>
<style>
    *{
        margin:0;
        padding:0;
    }
</style>

<script>
    window.onload = function(){
        createRoom()

        var modalOpen = document.querySelector(".modal-open");
        var modalClose = document.querySelector(".modal-close");
        var createChatModal = document.querySelector("#create-chat-modal")

        modalClose.onclick = function() {
            createChatModal.style.display = "none";
        }
        modalOpen.onclick = function (){
            createChatModal.style.display = "block";
        }
    }

    //방을 생성하자
    function createRoom(){
        $("#createRoom").click(function(){
            var msg = { rc_title : $("#roomName").val()};
            commonAjax("/createRoom", msg, "post", function(res){
                location.href="/room";
            })

        });

        $("#roomName").val("");
    }


    //방으로 이동하자
    function goRoom(number, name, usage){
        location.href=`/moveChatting?rc_title=${name}&rc_no=${number}&rc_usage=${usage}`;
    }

    var commonAjax = function(url, data, methodType, fn){
        // 데이터 값이 잘 넘어왔는지 확인
        console.log(url);
        console.log(data);
        console.log(fn);
        console.log(methodType);


        $.ajax({
            url: url,
            method: methodType,
            data: JSON.stringify(data),
            contentType : "application/json",
            success : function (res){
                fn(res);
            },
            error : function(err){
                console.log("에러남");
                fn(err)
            }

        });
    }
</script>




<body>
<div class="container">
    <h1>채팅방</h1>
    <div class="roomContainer">
        <table class="roomList">
            <tr>
                <th class='num'>방 번호</th>
                <th class='room'>방 이름</th>
                <th class="usage">방식</th>
                <th class='go'>참여</th>
            </tr>
            <tr th:each="roomVO : ${roomList}">
                <td class='num'>[[${roomVO.rc_no}]]</td>
                <td class='room'>[[${roomVO.rc_title}]]</td>
                <th:block th:if="${roomVO.rc_usage == 'one'}">
                    <td class="usage">1대1</td>
                </th:block>
                <th:block th:if="${roomVO.rc_usage == 'group'}">
                    <td class="usage">그룹</td>
                </th:block>
                <td class='go'><button type='button' th:onclick="goRoom([[${roomVO.rc_no}]], [[${roomVO.rc_title}]], [[${roomVO.rc_usage}]])">참여</button></td>
            </tr>
        </table>
    </div>

    <Section style="position: fixed; top: 0; left: 0; width: 100%">
        <table class="roomCreate">
            <tr>
                <td>방이름입력 : <input type="text" name="roomName" id="roomName"></td>
                <td><button id="createRoom">방 만들기</button> <button class="modal-open">방 만들기2</button></td>

            </tr>
        </table>
    </Section>

</div>





<!-- 채팅방 생성 모달창 -->
<section id="create-chat-modal" style="display: none">

    <li><input type="hidden" name="" id="" value="방장"></li>

    <div class="chat-modal-container">
        <i class="fa-solid fa-x fa-2x modal-close" aria-hidden="true"></i>
        <form action="/createRoomDB" method="post">
        <ul class="chat_content_container" th:if="${#authentication.getPrincipal.getUserVO.role == 'ROLE_stud'}" >

            <li><h2>채팅방 생성</h2></li>
            <!-- 학습자 전용-->
            <li>
                <h3>초대할 교육자 리스트</h3>
                <select name="user_id" class="invite_list" id="myTeacher" onclick="getMyTeacher()">

                </select>
            </li>
            <li>
                <h3>방 이름</h3>
                <input type="text" name="rc_title" value="" >
            </li>
            <input type="submit" value="교육자와 1대1 채팅하기">

        </ul>

        <!--  교육자 전용-->
        <ul class="chat_content_container" th:if="${#authentication.getPrincipal.getUserVO.role == 'ROLE_edu'}">
            <li><h2>채팅방 생성</h2></li>
            <li>
                <h3>내가 만든 그룹</h3>
                <select name="sg_no" class="invite_list">
                    <option value="그룹아이디">그룹1</option>
                </select>
            </li>
            <li>
                <h3>초대할 학습자 리스트</h3>
                <select name="user_id" class="invite_list" id="myStudent" onclick="getMyStudent()">
                    <option value="학생아이디">학생1</option>
                </select>
            </li>
            <li><button>학습자와 1대1 채팅하기</button></li>
        </ul>
        </form>
    </div>
</section>
<script>
    function getMyTeacher(){
        const myTeacher = document.querySelector("#myTeacher");
        myTeacher.innerHTML= "";
        fetch("/chat/getMyTeacher")
            .then((res)=>{
                return res.json()
            })
            .then((data)=>{
                for(vo of data){
                    var option = document.createElement("option");
                    option.value = vo.user_id;
                    option.innerText = vo.user_nm;
                    myTeacher.appendChild(option);
                }

            })
    }

</script>

</body>
</html>