<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/makework.css">
    <link rel="stylesheet" href="/css/workall/workall.css">
</head>
<body>
<th:block th:replace ="~{./edu/layouts/font_css :: font_css}"></th:block>
<th:block th:replace ="~{./user/layouts/header :: header}"></th:block>
<section id="group_content">
    <th:block th:replace="~{./edu/layouts/aside :: aside}"></th:block>
    <div class="group_content_container">
        <div class="group_content_header">
            <h1>숙제 등록</h1>
            <br>
            <h3>배포할 숙제를 등록할수 있습니다.</h3>
        </div>
        <div class="select_content">
            <div class="detailbox">
                <div class="detailbox1">
                    <h3 class="mkwork2">숙제 정보 입력</h3>
                    <div class="detailbox2">
                        <form name="workForm" action="workForm" method="post">
                            <ul class="regist_content_container">
                                <li><span>숙제명</span><input type="text" name="h_name" placeholder="숙제명을 입력하세요" required></li>
                                <li><span>문제 설명</span> <textarea name="h_detail1" placeholder="문제에 대한 설명을 입력해주세요" required></textarea></li>
                                <li><span>문제</span> <textarea name="h_detail2" placeholder="문제를 입력해주세요" required></textarea></li>
                                <li><span>입출력 예시</span> <textarea name="h_detail3" placeholder="입출력 예시를 입력해주세요" required></textarea></li>
                                <li><span>매개값1</span>
                                    <select name="h_para1">
                                        <option value="int">int</option>
                                        <option value="String">String</option>
                                        <option value="boolean">boolean</option>
                                    </select>
                                </li>
                                <li><span>매개값2</span>
                                    <select name="h_para2">
                                        <option value="int">int</option>
                                        <option value="String">String</option>
                                        <option value="boolean">boolean</option>
                                    </select>
                                </li>
                                <li><span>반환값</span>
                                    <select name="h_return">
                                        <option value="int">int</option>
                                        <option value="String">String</option>
                                        <option value="boolean">boolean</option>
                                    </select>
                                </li>
                                <li><span>테스트 값1</span> <input type="text" name="h_test1" placeholder="테스트케이스를 입력해주세요" required></text></li>
                                <li><span>테스트 값2</span> <input type="text" name="h_test2" placeholder="테스트케이스를 입력해주세요" required></text></li>
                                <li><span>정답1</span> <input type="text" name="h_ans1" placeholder="출력되어야 하는 정답을 입력해주세요" required></inputtext></li>
                                <li><span>테스트값1</span> <input type="text" name="h_test3" placeholder="테스트케이스를 입력해주세요" required></text></li>
                                <li><span>테스트값2</span> <input type="text" name="h_test4" placeholder="테스트케이스를 입력해주세요" required></text></li>
                                <li><span>정답2</span> <input type="text" name="h_ans2" placeholder="출력되어야 하는 정답을 입력해주세요" required></inputtext></li>
                                <li><span>입력 예시</span> <textarea name="h_detail3" placeholder="입력 예시를 입력해주세요" required></textarea></li>
                                <li><span>출력 예시</span> <textarea name="h_detail4" placeholder="출력 예시를 입력해주세요" required></textarea></li>
                                <li><span>난이도</span>
                                    <select name="h_level">
                                        <option value="1단계">1단계</option>
                                        <option value="2단계">2단계</option>
                                        <option value="3단계">3단계</option>
                                    </select>
                                </li>


                                <li><span>제출기한</span><input type="text" name="h_dead" placeholder="제출기한을 입력해주세요" required></li>
                            </ul>
                            <button type="submit" class="hbtn" style="margin-right: 126px">숙제 저장</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>