<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/makework.css">
</head>
<body>
<div class="detailbox">
    <h1 class="mkwork">숙제생성</h1>

    <div class="detailbox1">
        <h3 class="mkwork2">숙제 정보 입력</h3>
        <div class="detailbox2">
            <table class="tb1">
                <tbody>
                <tr>
                    <td>숙제명</td>
                    <td><input type="text" class="ii"></td>
                </tr>
                <tr>
                    <td>숙제내용</td>
                    <td><input type="text" class="ii"></td>
                </tr>
                <tr>
                    <td>학습그룹</td>
                    <td><input type="text" class="ii"></td>
                </tr>
                <tr>
                    <td>숙제 레벨</td>
                    <td>
                        <select name="" id="" class="ii">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>제출기한</td>
                    <td><input type="text" class="ii"></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="hbtn">숙제 저장</button>
        </div>
    </div>
    <div id="homeList_div">
        <h3 class="homelist">숙제리스트</h3>
        <table class="tb2">
            <thead>
            <tr>
                <th>숙제명</th>
                <th>숙제내용</th>
                <th>레벨</th>
                <th>제출기한</th>
                <th>생성일자</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>자바 기초알아보기</td>
                <td>숙제내용</td>
                <td>6</td>
                <td>3/6</td>
                <td>2024/05/05</td>
            </tr>
            <tr>
                <td>자바 기초알아보기</td>
                <td>숙제내용</td>
                <td>6</td>
                <td>3/6</td>
                <td>2024/05/05</td>
            </tr>
            <tr>
                <td>자바 기초알아보기</td>
                <td>숙제내용</td>
                <td>6</td>
                <td>3/6</td>
                <td>2024/05/05</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



</body>
</html>