<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/makework.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<th:block th:replace ="~{./edu/layouts/font_css :: font_css}"></th:block>
<th:block th:replace ="~{./user/layouts/header :: header}"></th:block>
<section id="group_content">
    <th:block  th:replace="~{./edu/layouts/aside :: aside}"></th:block>
    <div class="detailbox">
        <div class="group_content_header">
            <h1>숙제 리스트</h1>
            <br>
            <h3>배포할 숙제리스트를 확인할수 있습니다.</h3>
        </div>
        <table class="table-group">
            <tr>
                <th>숙제명</th>
                <th>레벨</th>
                <th>제출기한</th>
                <th>생성일자</th>
                <th></th>
            </tr>
            <tr th:each="workeva : ${list}" th:class="'work-' + ${workeva.h_no}" th:onclick="'workInfo(' + ${workeva.h_no} + ')'">
                <td th:class="'h_name-' + ${workeva.h_no}" th:text="${workeva.h_name}"></td>
                <td th:text="${workeva.h_level}"></td>
                <td th:class="'h_dead-' + ${workeva.h_no}" th:text="${workeva.h_dead}"></td>
                <td th:class="'h_reg_ymd-' + ${workeva.h_no}" th:text="${workeva.h_reg_ymd}"></td>
                <td th:class="'sel'+${workeva.h_no}" style="display: none">
                    <select th:each="group : ${gList}" th:if="${group.user_id}" th:class="'selectTag select'+${workeva.h_no}">
                        <option th:each="group : ${gList}" th:value="${group.sg_no}" th:text="${group.sg_name}" th:attr="data-hno=${workeva.h_no}"></option>
                    </select>
                </td>
                <td>
                    <!-- group.user_id가 있는 경우에만 라디오 버튼 출력 -->
                    <input type="radio" class="radio-item" name="selected-item" th:each="group : ${gList}" th:if="${group.user_id}" th:value="${workeva.h_no}">
                </td>
            </tr>
            <button th:each="group : ${gList}" th:if="${group.user_id}" onclick="deleteSelected()" class="delete" style="cursor: pointer">선택 삭제</button>
        </table>
        <th:block th:if="${not #lists.isEmpty(list)}">
            <div class="page">
                <ul>
                    <li><a th:href="@{workdis(page=1,amount=${pageVO.amount})}">
                        <i class="fa fa-angle-double-left"></i><p></p></a>
                    </li>
                    <!-- 2. 이전버튼 -->
                    <li style="margin-right:5px;" th:if="${pageVO.prev}">
                        <a th:href="@{workdis(page=${pageVO.start - 1}, amount=${pageVO.amount})}">
                            <i class="fa fa-angle-left" aria-hidden="true"> </i></a>
                    </li>
                    <!-- 1. 페이지 반복-->
                    <th:block th:each="page, status :${pageVO.pageList}">
                        <li th:class="${page == pageVO.page ? 'on' : ''}">
                            <a th:href="@{workdis(page=${page}, amount=${pageVO.amount})}">[[${page}]]</a>
                        </li>
                    </th:block>
                    <!--3. 다음버튼-->
                    <li style="margin-left:5px;" th:if="${pageVO.next}">
                        <a th:href="@{workdis(page=${pageVO.end + 1}, amount=${pageVO.amount})}">
                            <i class="fa fa-angle-right" aria-hidden="true"></i> >
                        </a>
                    </li>

                    <li><a th:href="@{workdis(page=${pageVO.realEnd}, amount=${pageVO.amount})}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </th:block>
        <form name="subForm" action="subForm" method="get">
            <div id="homeworkDistribution" style="display: none;">
                <div class="group_content_header">
                    <h1>숙제 배포</h1>
                    <br>
                    <h3>선택된 숙제리스트를 확인할수 있습니다.</h3>
                </div>
                <table class="table-group" id="homeworkPublish">
                    <tr>
                        <th>숙제명</th>
                        <th>제출 기한</th>
                        <th>생성 일자</th>
                        <th >학생 그룹</th>
                    </tr>
                    <tr id="selectedHomeworkRow">
                    </tr>
                </table>
                <button type="button" class="hbtn" onclick="publishHomework()">전송하기</button>
            </div>
        </form>
    </div>

</section>
<script th:inline="javascript">

    function workInfo(workevano) {

        var selectedHomeworkRow = document.getElementById("homeworkPublish");

        var h_name = document.querySelector('.h_name-'+workevano);
        var h_dead = document.querySelector('.h_dead-'+workevano);
        var h_reg_ymd = document.querySelector('.h_reg_ymd-'+workevano);
        var select = document.querySelector('.sel'+workevano);
        var select2 = select.cloneNode(true);
        select2.classList.add("hw-group-select");
        select2.style.display='';

        var tr = document.createElement("tr");

        tr.appendChild(h_name.cloneNode(true));
        tr.appendChild(h_dead.cloneNode(true));
        tr.appendChild(h_reg_ymd.cloneNode(true));
        tr.appendChild(select2.cloneNode(true));
        selectedHomeworkRow.appendChild(tr);

        var homeworkDistribution = document.getElementById("homeworkDistribution");
        homeworkDistribution.style.display = "block";

    }

    function publishHomework(){
        var dataList = [];
        var selectList = document.querySelectorAll(".hw-group-select .selectTag");

        selectList.forEach(function(select) {

            var h_no = select.classList[1].replace("select", "");
            var selectedValue = select.value;

            var map = new Map();
            map.set("workNo",h_no);
            map.set("groupNo",selectedValue);
            dataList.push(Object.fromEntries(map));
            console.log(map);
        });

        var data = {
            selectedValues: dataList
        };
        // AJAX 요청 보내기
        $.ajax({
            url: '/work/subForm',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(response) {
                console.log('Server response:', response);
            },
            error: function(xhr, status, error) {
                console.error('AJAX request failed:', error);
            }
        });
        alert("숙제 전송 완료!!")
        location.reload(true);
    }
    // 선택된 항목의 값을 저장할 변수
    var selectedValue = null;

    // 라디오 버튼 클릭 시 선택된 항목의 값을 저장
    document.querySelectorAll('.radio-item').forEach(function(item) {
        item.addEventListener('change', function() {
            selectedValue = this.value;
        });
    });

    function deleteSelected(){
        if(selectedValue) {
            if(confirm("선택한 숙제를 삭제하시겠습니까?")) {
                location.href = 'workdell?h_no=' + selectedValue;
            }
        } else {
            alert("삭제할 숙제를 선택하세요.");
        }
    }


</script>
</body>

</html>