<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/makework.css">
</head>
<body>
<th:block th:replace ="~{./student/layouts/font_css :: font_css}"></th:block>
<th:block th:replace ="~{./user/layouts/header :: header}"></th:block>
<section id="group_content">
    <th:block th:replace="~{./student/layouts/aside :: aside}"></th:block>
    <div class="detailbox">
        <div class="group_content_header">
            <h1>숙제 리스트</h1>
            <br>
            <h3>배포한 숙제리스트를 확인할수 있습니다.</h3>
        </div>
        <table class="table-group">
            <tr>
                <th>숙제명</th>
                <th>레벨</th>
                <th>제출기한</th>
                <th>생성일자</th>
            </tr>
            <tr th:each="workeva : ${list}">
                <td><a th:href="@{'/work/code?h_no=' + ${workeva.h_no}}" th:text="${workeva.h_name}"></a></td>
                <td th:text="${workeva.h_level}"></td>
                <td th:text="${workeva.h_dead}"></td>
                <td th:text="${workeva.h_reg_ymd}"></td>
            </tr>
        </table>
        <th:block th:if="${not #lists.isEmpty(list)}">
            <div class="page">
                <ul>
                    <li><a th:href="@{workcheck(page=1,amount=${pageVO.amount})}">
                        <i class="fa fa-angle-double-left"></i><p></p></a>
                    </li>
                    <!-- 2. 이전버튼 -->
                    <li style="margin-right:5px;" th:if="${pageVO.prev}">
                        <a th:href="@{workcheck(page=${pageVO.start - 1}, amount=${pageVO.amount})}">
                            <i class="fa fa-angle-left" aria-hidden="true"> </i></a>
                    </li>
                    <!-- 1. 페이지 반복-->
                    <th:block th:each="page, status :${pageVO.pageList}">
                        <li th:class="${page == pageVO.page ? 'on' : ''}">
                            <a th:href="@{workcheck(page=${page}, amount=${pageVO.amount})}">[[${page}]]</a>
                        </li>
                    </th:block>
                    <!--3. 다음버튼-->
                    <li style="margin-left:5px;" th:if="${pageVO.next}">
                        <a th:href="@{workcheck(page=${pageVO.end + 1}, amount=${pageVO.amount})}">
                            <i class="fa fa-angle-right" aria-hidden="true"></i> >
                        </a>
                    </li>

                    <li><a th:href="@{workcheck(page=${pageVO.realEnd}, amount=${pageVO.amount})}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </th:block>
    </div>
</section>
</body>
</html>