<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/makework.css">
</head>
<body>
<div class="detailbox">
    <h1 class="mkwork">숙제평가</h1>
    <div id="homeList_div">
        <button type="submit" class="hbtn2">조회 하기</button>
        <h3 class="homelist">숙제리스트</h3>
        <table class="tb2">
            <thead>
            <tr>
                <th>숙제명</th>
                <th>숙제내용</th>
                <th>레벨</th>
                <th>제출기한</th>
                <th>생성일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="workeva : ${list}">
                <td><a th:href="@{'/work/worksub?h_no=' + ${workeva.h_no}}" th:text="${workeva.h_detail}"></a></td>
                <td th:text="${workeva.h_detail}"></td>
                <td th:text="${workeva.h_level}"></td>
                <td th:text="${workeva.h_reg_ymd}"></td>
                <td th:text="${workeva.h_dead}"></td>
            </tr>
            </tbody>
        </table>
        <div class="page"  >
            <ul style="display: flex; justify-content: space-around">
                <li><a th:href="@{workeva(page=1,amount=${pageVO.amount})}">
                    <i class="fa fa-angle-double-left"></i><p><<</p></a></li>
                <!-- 2. 이전버튼 -->
                <th:block th:if="${pageVO.prev}">
                    <li style="margin-right:5px;">
                        <a th:href="@{workeva(page=${pageVO.start - 1},
																amount=${pageVO.amount})}">
                            <i class="fa fa-angle-left" aria-hidden="true"> < </i></a>
                    </li>
                </th:block>
                <!-- 1. 페이지 반복-->
                <th:block th:each="page, status :${pageVO.pageList}">
                    <li th:class="${page == pageVO.page ? 'on' : ''}">
                        <a th:href="@{workeva(page=${page},
                                        amount=${pageVO.amount})}">[[${page}]]</a>
                    </li>
                </th:block>

                <!--3. 다음버튼-->
                <th:block th:if="${pageVO.next}">
                    <li style="margin-left:5px;">
                        <a th:href="@{work(page=${pageVO.end + 1},
                                amount=${pageVO.amount})}"><i
                                class="fa fa-angle-right" aria-hidden="true">

                        </i> > </a></li>
                </th:block>

                <li><a th:href="@{board(page=${pageVO.realEnd},
                                        amount=${pageVO.amount})}"><i
                        class="fa fa-angle-double-right" aria-hidden="true">>></i></a></li>
            </ul>
        </div>
    </div>
    <div class="detailbox1">
        <button type="submit" class="hbtn2">평가 저장</button>
        <h3 class="mkwork2">숙제 전송</h3>
        <div class="detailbox2">
            <table class="tb2">
                <thead>
                <tr>
                    <th>학습자명</th>
                    <th>숙제 제목</th>
                    <th>레벨</th>
                    <th>제출일자</th>
                    <th>평가</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>자바 기초</td>
                    <td>자바 기초 알아보기</td>
                    <td>4</td>
                    <td>today</td>
                    <td>
                        <select name="" class="i">
                            <option value="">상</option>
                            <option value="">중</option>
                            <option value="">하</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>자바 기초</td>
                    <td>자바 기초 알아보기</td>
                    <td>2</td>
                    <td>today</td>
                    <td>
                        <select name=""  class="i">
                            <option value="">상</option>
                            <option value="">중</option>
                            <option value="">하</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>자바 기초</td>
                    <td>자바 기초 알아보기</td>
                    <td>2</td>
                    <td>today</td>
                    <td>
                        <select name=""  class="i">
                            <option value="">상</option>
                            <option value="">중</option>
                            <option value="">하</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

</body>

</script>
</html>