<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.geomin.admin.service.AdminMapper">
    <insert id="insertInformation">
        insert into content(
            con_nm,
            cate_no,
            con_price,
            con_discount,
            con_description,
            con_lv,
            thumbnail,
            thumbnail_path,
            service_class)
        values (#{con_nm},
                #{cate_no},
                #{con_price},
                #{con_discount},
                #{con_description},
                #{con_lv},
                #{thumbnail},
                #{thumbnail_path},
                #{service_class})
    </insert>

    <insert id="insertInformation2">
        insert into cont_file(
            con_nm,
            file_nm,
            file_path,
            service_class)
        values (#{con_nm},
                #{file_nm},
                #{file_path},
                #{service_class1})
    </insert>

    <select id="getT" resultType="AdminVO">
        select *
        from content
        where con_nm = #{con_nm}
    </select>
    <select id="getF" resultType="AdminVO">
        select *
        from content c
        join cont_file f ON c.con_nm = f.con_nm
        where c.con_nm = #{con_nm}
        order by f.file_no asc;
    </select>

    <select id="getContent" resultType="AdminVO">
        select *
        from content
    </select>

    <delete id="deleteContent">
        delete from
        content
        where con_nm = #{con_nm};
    </delete>

    <delete id="deleteContent_file">
        delete from cont_file
        where con_nm = #{con_nm};
    </delete>
</mapper>