<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.geomin.edu.service.EduMapper">
    <insert id="groupRegist" parameterType="GroupVO">
        insert into study_group(user_id, con_nm, sg_name, sg_allnum, sg_start_date,  sg_end_date, sg_level, sg_content, sg_status)
        values (#{user_id}, #{con_nm}, #{sg_name}, #{sg_allnum}, #{sg_start_date}, #{sg_end_date}, #{sg_level}, #{sg_content}, #{sg_status})
    </insert>

    <insert id="studentApply" parameterType="JoinGroupVO">
        insert into join_group(user_id, sg_no) values(#{user_id}, #{sg_no});
    </insert>

    <insert id="groupLeaderApply" parameterType="JoinGroupVO">
        insert into join_group(user_id, sg_no, jg_confirm) values(#{user_id}, #{sg_no}, #{jg_confirm});
    </insert>
    <select id="selectGroup"  resultType="GroupVO">
        select s.*, u.user_nm , ifnull(c.sg_aplynum, 0) as sg_aplynum  from study_group s left join user u on s.user_id = u.user_id
                                                 left join
                                   (select count(*) as sg_aplynum, sg_no from join_group
                                    where jg_confirm = '승인'
                                    group by sg_no) c on s.sg_no = c.sg_no
                 where s.user_id = #{gvo.user_id}
                <if test="gsvo.user_nm != null and gsvo.user_nm != ''">
                      and u.user_nm LIKE concat('%',#{gsvo.user_nm},'%')
                </if>
    </select>

    <select id="getSgNo" resultType="int">
        select max(sg_no) from study_group
    </select>
    <select id="selectGroupPK" parameterType="GroupVO" resultType="GroupVO">
        select s.*, u.user_nm, ifnull(c.sg_aplynum, 0) as sg_aplynum from study_group s left join user u on s.user_id = u.user_id
                     left join
       (select count(*) as sg_aplynum, sg_no from join_group
        where jg_confirm = '승인'
        group by sg_no) c on s.sg_no = c.sg_no
        where s.sg_no = #{sg_no}
    </select>

    <select id="selectStudent"  resultType="JoinGroupVO">
        select  j.*, u.user_nm, g.sg_name, ifnull(c.sg_aplynum, 0) as sg_aplynum  from join_group j left join user u on j.user_id = u.user_id
                                                    left join study_group g on g.sg_no = j.sg_no
                                                    left join
                                       (select count(*) as sg_aplynum, sg_no from join_group
                                        where jg_confirm = '승인'
                                        group by sg_no) c on j.sg_no = c.sg_no
        <if test="sg_no != null and sg_no != ''">
            where j.sg_no = #{sg_no}
            and j.jg_confirm = '승인'
        </if>
        <if test="user_nm != null and user_nm != ''">
            where u.user_nm LIKE concat('%',#{user_nm},'%')
            and j.jg_confirm = '승인'
        </if>

    </select>

    <select id="myJoinGroup" resultType="JoinGroupVO" >
        select j.*, g.user_id as sg_user_id, g.con_nm, g.sg_name,  ifnull(c.sg_aplynum, 0) as sg_aplynum, g.sg_allnum, g.sg_start_date, g.sg_end_date, g.sg_level, g.sg_content, g.sg_status, u.user_nm
        from join_group j
                 left join study_group g on j.sg_no = g.sg_no
                left join user u on j.user_id = u.user_id
                 left join
             (select count(*) as sg_aplynum, sg_no from join_group
              where jg_confirm = '승인'
              group by sg_no) c on j.sg_no = c.sg_no
        where g.user_id = #{userId} and j.jg_confirm = '처리중'
        <if test="search.user_nm != null and search.user_nm != ''">
            and u.user_nm LIKE concat('%',#{search.user_nm},'%')
        </if>
        order by u.user_nm
        limit #{cri.startPage}, #{cri.showPage}
    </select>

    <update id="applierApply">
        update join_group set jg_confirm = #{jgConfirm}
        where user_id = #{userId} and sg_no = #{sgNo}
    </update>

    <delete id="groupDelete">
        delete from study_group where sg_no = #{sgNo}
    </delete>

    <delete id="joinGroupDelete">
        delete from join_group where sg_no = #{sgNo}
    </delete>

    <update id="groupUpdateReal">
        update study_group set sg_name = #{sg_name}, sg_allnum = #{sg_allnum}, sg_level = #{sg_level},
                               sg_content = #{sg_content}, con_nm= #{con_nm}, sg_start_date = #{sg_start_date},
                               sg_end_date = #{sg_end_date}, sg_status = #{sg_status}
        where sg_no = #{sg_no}
    </update>

    <select id="studentSelect" resultType="UserVO">
        select user_id, user_nm, user_age, user_gn, user_pn, parn_pn from user where user_id = #{user_id}
    </select>

    <delete id="deleteJoinStud">
        delete from join_group where user_id = #{user_id} and sg_no = #{sg_no}
    </delete>

<!--    페이지네이션 구역-->
    <select id="selectPageTotal" resultType="int">
        select count(*) from join_group j
                        left join  study_group g on j.sg_no = g.sg_no
                        left join  user u on j.user_id = u.user_id
            where g.user_id = #{userId} and jg_confirm = '처리중'
            <if test="search.user_nm != null and search.user_nm != ''">
                and u.user_nm LIKE concat('%',#{search.user_nm},'%')
            </if>
    </select>

    <select id="noSearchSelectPageTotal" resultType="int">
        select count(*) from join_group j
        left join  study_group g on j.sg_no = g.sg_no
        left join  user u on j.user_id = u.user_id
        where g.user_id = #{userId} and jg_confirm = '처리중'
    </select>


<!--    콘텐츠-->
    <select id="selectMyContents" resultType="ContentVO">
        select c.*, cc.cate_nm from cont_buy cb
        left join content c on c.con_nm=cb.con_nm
        left join cont_cate cc on c.cate_no = cc.cate_no
        where user_id = #{userId}
        <if test="search.con_nm != null and search.con_nm != ''">
            and c.con_nm LIKE concat('%',#{search.con_nm},'%')
            limit #{cri.startPage}, #{cri.showPage}
        </if>

    </select>

    <select id="contentPageTotal" resultType="int">
        select count(*) from cont_buy cb
        left join content c on c.con_nm=cb.con_nm
        left join cont_cate cc on c.cate_no = cc.cate_no
        where user_id = #{userId}
        <if test="search.con_nm != null and search.con_nm != ''">
            and c.con_nm LIKE concat('%',#{search.con_nm},'%')
        </if>

    </select>


</mapper>