<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.geomin.review.service.ReviewMapper">
    <insert id="inputReview">
        INSERT INTO review (con_nm, star, review_context,review_date)
        VALUES (#{con_nm},#{reviewStar}, #{review_context},DATE_FORMAT(NOW(), '%Y%m%d'), MVN_YMD = DATE_FORMAT(NOW(), '%Y%m%d');
    </insert>
    <select id="getReview" resultType="ReviewVO">
        select *
        from review
        where con_nm = #{con_nm}
    </select>
</mapper>