<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.geomin.student.service.StudentMapper">
    <select id="allGroupSelect" resultType="GroupVO">
        select g.*, u.user_nm, ifnull(c.sg_aplynum, 0) as sg_aplynum, c.thumbnail_path from study_group g left join user u on g.user_id = u.user_id
                                                 left join
                                   (select count(*) as sg_aplynum, sg_no from join_group
                                    where jg_confirm = '승인'
                                    group by sg_no) c on g.sg_no = c.sg_no
                                    left join content c on c.con_nm = g.con_nm
        where g.sg_status = '신청받기'
        <if test="search.user_nm != null and search.user_nm != ''">
            and u.user_nm LIKE concat('%',#{search.user_nm},'%')
        </if>
        order by g.sg_no desc
        limit #{cri.startPage}, #{cri.showPage}

    </select>

    <select id="myApplyGroup" resultType="JoinGroupVO" >
        select j.*, g.user_id as sg_user_id, g.con_nm, g.sg_name, ifnull(c.sg_aplynum, 0) as sg_aplynum, g.sg_allnum, g.sg_start_date, g.sg_end_date,  g.sg_content, g.sg_status, u.user_nm, gu.user_nm as sg_user_nm
        from join_group j
                 left join study_group g on j.sg_no = g.sg_no
                left join user u on j.user_id= u.user_id
                 left join user gu on gu.user_id = u.user_id
                 left join
             (select count(*) as sg_aplynum, sg_no from join_group
              where jg_confirm = '승인'
              group by sg_no) c on j.sg_no = c.sg_no
                 where j.user_id = #{userId}
    </select>

    <select id="groupAplyTotal" resultType="int">
        select count(*) from join_group
        where jg_confirm = '승인' and sg_no = #{sg_no}
    </select>

    <select id="groupAplyCheck" resultType="int">
        select count(*) from join_group
        where user_id = #{user_id} and sg_no = #{sg_no}
    </select>

    <select id="groupMaxAplyCheck" resultType="int">
        select count(*) from join_group
        where user_id = #{user_id}
    </select>



    <insert id="groupApply" parameterType="JoinGroupVO">
        insert into join_group values (#{user_id}, #{sg_no}, '처리중', 0)
    </insert>

    <!--	페이지 네이션 영역-->
    <select id="selectGroupPageTotal" parameterType="GroupSearchVO" resultType="int">
        select count(*) from study_group
        where sg_status = '신청받기'
        <if test="user_nm != null and user_nm != ''">
            and sg_name LIKE concat('%',#{user_nm},'%')
        </if>
    </select>

    <delete id="deleteAply" parameterType="JoinGroupVO">
        delete from join_group where user_id = #{user_id} and sg_no = #{sg_no}
    </delete>

<!--    그룹 상세페이지-->
    <select id="getNoticeList" resultType="GroupNoticeVO">
        select * from notice_group
        where sg_no = #{sgNo} and ng_usage = '공지'
        order by ng_date desc
    </select>

    <select id="getRecordNoticeList" resultType="GroupNoticeVO">
        select * from notice_group
        where sg_no =  #{sgNo} and ng_usage = '기록'
        order by ng_date desc
    </select>

    <select id="getNoticeDetail" resultType="GroupNoticeVO">
        select * from notice_group
        where ng_no =  #{ngNo}
        order by ng_date desc
    </select>

    <select id="getQuestionList" resultType="GroupQAVO">

        select qg.*, ag.ag_count from question_group qg
      left join (select q.sg_no, q.qg_no , count(*) as ag_count from answer_group a
         left join question_group q on a.qg_no = q.qg_no
                 where q.sg_no = #{sg_no}
                 group by qg_no) ag on ag.qg_no = qg.qg_no
        where qg.sg_no = #{sg_no}
        order by qg.qg_date desc
    </select>

    <insert id="noticeRegist">
        insert into notice_group(sg_no, user_id, ng_title, ng_content, ng_date, ng_usage)
        values (#{sg_no}, #{user_id}, #{ng_title}, #{ng_content}, DATE_FORMAT(NOW(), '%Y-%m-%d %h:%i'), #{ng_usage})
    </insert>

    <update id="noticeUpdate">
        update notice_group set user_id = #{user_id}, ng_title = #{ng_title}, ng_content = #{ng_content}
        where ng_no = #{ng_no}
    </update>
    <delete id="noticeDelete">
        delete from notice_group where ng_no = #{ng_no}
    </delete>

    <insert id="QARegist">
        insert into question_group(sg_no, user_id, qg_title, qg_content, qg_date)
        values (#{sg_no}, #{user_id}, #{qg_title}, #{qg_content}, DATE_FORMAT(NOW(), '%Y-%m-%d %h:%i'))
    </insert>

    <select id="getQADetail" resultType="GroupQAVO">
        select * from question_group
        where qg_no = #{qgNo}
        order by qg_date desc
    </select>

    <select id="getAnswerList" resultType="GroupAnswerVO">
        select * from answer_group
        where qg_no = #{qgNo}
        order by ag_date desc
    </select>

    <insert id="registAnswer">
        insert into answer_group(qg_no, user_id, ag_content, ag_date)
        values (#{qg_no}, #{user_id}, #{ag_content}, DATE_FORMAT(NOW(), '%Y-%m-%d %h:%i'));
    </insert>

    <delete id="QDel">
        delete from question_group
        where qg_no = #{qg_no}
    </delete>

    <delete id="ADel">
        delete from answer_group
        where qg_no = #{qg_no}
    </delete>

    <delete id="answerDelete">
        delete from answer_group
        where ag_no = #{agNo}
    </delete>

    <select id="myGroupContent" resultType="GroupVO" >
        select c.con_nm, c.thumbnail_path, s.sg_name, s.sg_content from study_group s
        left join content c on s.con_nm = c.con_nm
        where s.sg_no = #{sgNo};
    </select>

    <select id="buyContentCheck" resultType="int">
        select count(*) from cont_buy
        where user_id = #{user_id} and con_nm = #{con_nm} and ctb_status = '완료'
    </select>

</mapper>

