<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.geomin.student.service.WorkMapper">
    <select id="getList" resultType="WorkVO">
        SELECT hw_distribution.*, study_group.sg_name
        FROM hw_distribution
                 LEFT JOIN study_group ON hw_distribution.sg_no = study_group.sg_no
            LIMIT #{cri.pageStart}, #{cri.amount};

    </select>
    <select id="selectGroup"  resultType="GroupVO">
        SELECT sg_name, sg_no
        FROM study_group;

    </select>
    <select id="getTotal" resultType="int">
        select count(*)
        from hw_distribution
    </select>
    <insert id="regist">
        INSERT INTO hw_distribution (
            h_name,
            h_detail,
            h_level,
            h_dead,
            h_reg_ymd,
            sg_no
        ) VALUES (
                  #{h_name},
                  #{h_detail},
                  #{h_level},
                  #{h_dead},
                  date_format(now(), '%Y%m%d'),
                  1
                         )
    </insert>

    <select id="getDetail" resultType="WorkVO">
        SELECT * FROM hw_distribution
        WHERE h_no = #{h_no}
    </select>

    <insert id="insertHw">
        insert into hw (h_no,sg_no) values(#{h_no},#{sg_no})
    </insert>
</mapper>