
  <header th:fragment="header">
    <div id="header">
      <div id="logo"><img src="/img/logo.png" alt=""></div>
      <div id="header-content">
      <p>이용안내</p>
      <p>학습서비스</p>
      <p>구독서비스</p>
      <p>교육자마당</p>
      <p>운영마당</p>
      <div style="display: flex; align-items: center">
      <button id="logoutBtn" sec:authorize="isAuthenticated()"><a href ="/logout">로그아웃</a></button>
        <button id="loginBtn">로그인</button>
            <script>
    
    </script>
      </div>
    </div>
      
    </div>
  </header>

<script src="/js/header.js"></script>
