#top{width: 100%; height: 30px; border-bottom: 1px solid #334c48; background-color: #dce0eb; color: white}
#area{width: 100%; display: flex; box-sizing: border-box;} 

#left{width: 45%; box-sizing: border-box;}
#pro_description{height: 300px; border-right: 1px solid #334c48; border-bottom: 1px solid #334c48}
#restrictions{height: 400px;  border-right: 1px solid #334c48; border-bottom: 1px solid #334c48}
#ex{height: 250px;  border-right: 1px solid #334c48; border-bottom: 1px solid #334c48}

#right{width: 55%;box-sizing: border-box; overflow: hidden}

.bbtn {
    float: right; margin-right: 10px; width: 80px; height: 30px; border-radius: 3px; border-style: none;margin-top: 10px; background-color: #334c48; color: white; font-size: 13px; cursor: pointer;
}
.bbtn:hover {
    background-color: #36444d; /* 마우스 호버 시 배경색 변경 */
    transition: all 0.15s ease-in-out;
}

