<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:fragment="edit">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Editor</title>
  <style type="text/css" media="screen">
   /*  body {
        overflow: hidden;
    } */

    #editor {
      margin: 0;
      position:absolute;
      height: calc(50% - 54px) !important;
      font-size: 25px;
      width: 55% !important;
      left: 45%;
      background-color:  #334c48;
      font: normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace !important;
    }
    .ace-pastel-on-dark .ace_gutter{
      background-color:  #334c48;
      }
  </style>
</head>
<body>

<pre id="editor">class Solution {
    public static [[${vo.h_return}]] solution([[${vo.h_para1}]] num1, [[${vo.h_para2}]] num2) {
        int answer = 0;
        return answer;
    }
}</pre>

<script src="/js/editor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/pastel_on_dark");
    editor.getSession().setMode("ace/mode/java");
</script>

</body>
</html>
