<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="EUC-KR">
<title>숙제 제출 페이지</title>
<link rel="stylesheet" href="/css/Compiler/homeWork.css">
</head>
<body>
<th:block th:replace ="~{/user/layouts/font_css :: font_css}"></th:block>
<th:block th:replace ="~{/user/layouts/header :: header}"></th:block>
<div class="main">
<nav class= ""> </nav>
<nav class=""> </nav>
<div class="contents">
dsaaaaaaaaaaaaaaaaaaaa

</div>
<div class="main-right">
<div class="compiler">
ssssssssss
</div>

<div class="result">
asdadsdas
</div>
</div>

</div>
</body>

<script src="/js/Compiler/homeWork.js"></script>
</html>