<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/aside.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/gpapply/edugroup.css">
</head>
<body>
<aside th:fragment="aside">
  <div id="title">
    <h3>스터디그룹</h3>
  </div>
  <div id="side">
    <ul>
      <a href="/edu/groupRegist" style="color: black"><li class="menu"><img src="/img/home.png">그룹 등록</li></a>
      <a href="/edu/groupJoin" style="color: black"><li class="menu"><img src="/img/home.png">그룹 가입 승인</li></a>
      <a href="/edu/groupSelect" style="color: black"><li class="menu"><img src="/img/home.png">내 그룹 조회</li></a>
      <a href="/edu/groupContents" style="color: black"><li class="menu"><img src="/img/home.png">내 콘텐츠 조회</li></a>
      <a><li class="menu" onclick="popup()"><img src="/img/message.png">채팅방입장</li></a>
      <a href="/work/makework"  style="color: black"><li  class="menu"><img src="/img/search.png">숙제 생성</li></a>
      <a href="/work/workdis"  style="color: black"><li  class="menu"><img src="/img/search.png">숙제 배포</li></a>
      <a href="/work/workcheck" style="color: black"> <li class="menu"><img src="/img/search.png">숙제 확인</li></a>
    </ul>
  </div>
  <script src="/js/aside.js"></script>
  <script src="/js/gpapply/popup.js"></script>
</aside>
</body>


</html>